:root {
    --bgr-color: #504f4f73;
    --main-color: #191F3A;
    --sub-color: #EAA023;
    --text-color: #ffffff;
    --bg-color: #0C1023;
    --bd-color: #ffffff91;
    --bl-color: black;
}#footer{
    
    width: auto;
    height: auto;
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer_name>img{
    width: 100px;
    height: 50px;
}
.footer_name>p{
    font-size: 18px;
    color: rgba(211, 211, 211, 0.678);
}
.footer_main{
    font-size: 30px;
    font-weight: bold;
    color: rgba(247, 30, 30, 0.678);
}
.footer_address{
    color: rgba(211, 211, 211, 0.678);
}
